body {
    font-family: 'Oswald', sans-serif;
    color:  rgb(79,99,43); /* 文字色を濃い緑に設定 */
    line-height: 1.6;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: white; /* 背景色を白に設定 */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main {
    margin-top: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
    background-color: white; /* 透明に設定 */
    min-height: 100vh;
}

/* 各ページの余白を設定する */
.content-box {
    background-color:white;
    color: rgb(79, 99, 43);
    margin: 0px;
    border: 0px;
    padding: 100px;
}


/* ジャケット名だけのフォント */

h5 {
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(79, 99, 43);
}

/* ヘッダーの背景色を変更 */
.header {
    background-color: white; /* お好みの色に変更 */
    color: rgb(79,99,43);
    padding: 20px 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

.band-name {
    background-color: white;
    width: 40%;
    height: 100%;
}

.nav-links {
    height: 100%;
    background-color: white;
}

.nav {
    float: left;
    background-color: white;
}

.social-links {
    float: right;
    background-color: white;

}


/* ナビゲーションリンクとソーシャルリンクの色を変更 */
.custom-link-color {
    color: rgb(79,99,43); /* 色を設定 */
}

/* フッターの背景色を変更 */
.footer {
    background-color: white; /* お好みの色に変更 */
    color: rgb(79,99,43);
    text-align: center;
    padding-top: 0%;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: +1;
}

.caption {
    text-align: center;
}

/* index.html */

.band-photo {
    margin: 0 auto; /* 余白を調整 */
    border: 5%;    
    padding: 0%;
    width: 50%;
    height: auto;
    display: block;
}

.band-logo {
     margin: 0 auto; /* 余白を調整 */
     border: 0;
     padding: 0%;
     width: 30%;
     height: auto;
     display: block;
}

.member-list {
    padding: auto;
    border: 100px;
    margin: 80px;
    background-color: white;
    text-align: center;
}

.band-photo {
    border: 0px solid #fff;
    border-radius: 10px;
}

.band-logo {
    height: auto; /* アスペクト比を維持して高さを自動調整 */
    display: block;
    margin: auto auto 50px;
    border: 0px solid #fff; /* 縁の色を変更する場合、この値を調整します */
    border-radius: 0px;
    padding: 0px;
}

.rounded-border {
    border: 5px solid  rgb(79,99,43); /* 太枠の色と太さを指定します */
    border-radius: 15px; /* 丸みを指定します */
    padding: 0px; /* 画像と枠の間のスペースを指定します */
}

/* live_info.html */

.live-info {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    margin: 15px;
    padding: 10px;
}

.live-date {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(79, 99, 43); /* 文字色を白に設定 */
}

.live-details {
    font-size: 1.2em;
    color: rgb(79, 99, 43); /* 文字色を白に設定 */
}

.live-details a:hover {
    text-decoration: underline;
}

.flyer {
    width: 50%;
    margin: 5% auto;
}

/* weblog.html */

.main__inner [class*="widget-"] {
    border-top-width: 3px;
    font-size: 1em;
}

.main__inner [class*="widget-"] {
    color: rgb(79,99,43);
}

.wdg__inner {
    background-color: white;
    padding-top: 10%;
}

.list-row, .list-row>a {
    display: table;
    width: 100%;
}

.list-row__detail {
    display: table-cell;
    padding: 10px 0;
    width: 80%;
    vertical-align: middle;
    color: rgb(79,99,43);
    border-bottom: 1px solid #ddd; /* 下に1ピクセルの線を追加 */ 
}

.tags {
    margin-bottom: 10px;
    letter-spacing: -0.4em;
}

.tags__date {
    display: inline-block;
    margin-right: 1.0em;
    letter-spacing: normal;
}
.tags__icon {
    color: #fff;
    background-color: rgb(79,99,43);
}

.tags__icon--news {
    min-width: 115px;
    padding-left: 2px;
    padding-right: 2px;
}

.tags__icon {
    display: inline-block;
    min-width: 50px;
    padding: 3px 8px 2px;
    border-radius: 2px;
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック";
    font-size: 1.2rem;
    line-height: 1.0;
    text-align: center;
}

.list-row>a {
    padding: 10px;
    transition: background 0.3s;
}

/* weblogページのナビゲーションリンク */

.weblog-nav{
    margin-bottom: 10%;
}

/* ページネーションのリンク全体のスタイル */
.pagination a {
    color: rgb(79,99,43); /* リンクの文字色 (通常時) */
    text-decoration: none; /* リンクの下線を消す */
}

/* ページネーションのリンクにホバーしたときのスタイル */
.pagination a:hover {
    color: rgb(79,99,43); /* ホバー時の文字色 */
    text-decoration: underline; /* ホバー時に下線を追加 */
}

/* アクティブなページのリンクのスタイル */
.pagination .page-item.active .page-link {
    background-color: rgb(79,99,43); /* アクティブページの背景色 */
    color: #ffffff; /* アクティブページの文字色 */
    border-color: rgb(79,99,43); /* アクティブページの枠線色 */
}
/* columns */

.column-content{
    padding-top: 10%;
}

.writer-name{
    padding-top: 5%;
}

.album-intro{
    margin-bottom: 20%;
    width: 100%;
}

.column-album{
    width: 50%;
    margin: 10%;
}

.music-links{
    overflow-wrap: break-word;
    word-break: break-all;
    width: 100%;
    font-size: 0.8em;
}

.column-navigation{
    padding-bottom: 10%;
}

/* works.html */

.vinyl-img {
    width: 200px;  /* 任意の幅 */
    height: auto;  /* 高さは自動調整 */
    margin: 10px auto 10px;  /* 画像とテキストの間にスペースを追加 */
    border: 5px solid  rgb(79,99,43); /* 太枠の色と太さを指定します */
    border-radius: 15px; /* 丸みを指定します */
}

.works-box {
    border-bottom: 1px solid #ddd; /* 下に1ピクセルの線を追加 */
    margin: 50px auto;
    padding: 20px auto;
    width: 50%;
}

.title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}

/* スマートフォン用のスタイルを追加 */
@media (max-width: 768px) {

    /* base.html */
    .header {
        padding: 10px 0; /* ヘッダーのパディングを調整 */
        font-size: 0.8rem;
    }

    .band-name {
        float: left;
        width: 30%;
        background-color: white;
        text-align: center;
    }
    
    .nav-links {
        float: right;
        width: 70%;
        background-color: white;
    }
    
    .nav {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2列に分ける */
        background-color: white;
    }
    
    .nav-item {
        list-style-type: none; /* リストのドットや数字を削除 */
        text-align: center; /* 中央揃えにする場合 */
    }
    
    .social-links {
        width: 50%;
        background-color: white;
        margin-top: 5%;
    }

    .social-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3列に分ける */
        justify-items: center; /* リンクを中央揃えにする */
    }
    
    .social-links a {
        text-align: center;
    }    

    
    .content-box {
        background-color:white;
        color: rgb(79, 99, 43);
        margin: 100px auto 0;
        border: 0;
        padding: 0;
        width: 100%;
    }

    main {
        padding-bottom: 10%;
        border-bottom: 0%;
        background-color: white;
    }
    
    .band-photo {
        margin: 0 auto; /* 余白を調整 */
        border: 5%;    
        padding: 0%;
        width: 70%;
        height: auto;
        display: block;
    }

    .band-logo {
         margin: 0 auto; /* 余白を調整 */
         border: 0;
         padding: 0%;
         width: 40%;
         height: auto;
         display: block;
    }

    .member-list {
        text-align: center;
        width: 80%;
        padding: auto;
        border: 5%;
        margin: 10% auto;
        
    }
    
    /* live_info.html */

    .flyer {
        width: 80%;
        margin: 5% auto;
    }
    
    .footer {
        padding: 10px 0; /* フッターのパディングを調整 */

    }

    /* weblog.html */
    .main__inner [class*="widget-"] {
        border-top-width: 3px;
        font-size: 1.2rem;
    }

    .wdg__inner {
        padding: 10px 15px 20px;
    }

    .list-row, .list-row>a {
        display: table;
        width: 100%;
    }

    .list-row__detail {
        display: table-cell;
        padding: 5px 0;
        vertical-align: top;
    }

    .weblog-title {
        font-size: 0.7em;
    }

    /* works.html*/
    
}
