{% extends "base.html" %}

{% block title %}Chika Feldie - Top{% endblock %}

{% block content %}
<img class="band-logo" src="{{ url_for('static', filename='img/designs/BandLogo.png') }}" alt="logo Image" class="img-fluid">
<img class="band-photo rounded-border" src="{{ url_for('static', filename='img/artist_photo/artist2.jpg') }}" alt="Band Photo" class="img-fluid">
<!--スペースちゃんと作ること。-->
<div class="member-list">
    <h3>Member</h3>
    <p>Bansei Komori (Vo, Sax)</p>
    <p>Gin Ikeda (Vo, Gt)</p>
    <p>Taichi Shimizu (Cho, Key)</p>
    <p>Ryohei Imai (Cho, Ba)</p>
    <p>Kazuto Iwasaki (Cho, Dr)</p>
</div>
{% endblock %}