{% extends "base.html" %}

{% block title %}Chika Feldie - Live Info{% endblock %}

{% block content %}
    <h2 class="caption">Live Information</h2>
    <div class="container">
        <div class="row">  
            <div class="live-info">
                <h3 class="live-date">2024/01/14(火) : 吉祥寺 / 吉祥寺NEPO</h3>
                <p class="live-details">
                    <p>OPEN / 18:30</p>
                    <p>START / 19:00</p>
                    link: <a href="https://nepo.co.jp/" target="_blank">https://nepo.co.jp/</a><br>
                    
                </p>
            </div>

            <div class="live-info">
                <h3 class="live-date">2024/01/29(水) : 高円寺 / GreenApple</h3>
                <p class="live-details">
                    <p>OPEN・START/ 19:00</p>
                    link: <a href="http://www.greenapple.gr.jp/index.html" target="_blank">http://www.greenapple.gr.jp/index.html</a><br>
                </p>
            </div>
            
            <div class="live-info">
                <h3 class="live-date">2024/01/29(水) : 幡ヶ谷 / HeavySick</h3>
                <p class="live-details">
                    <p>OPEN・START/ 19:00</p>
                    <!--<img class="flyer rounded-border" src="{{ url_for('static', filename='img/flyers/20241120Flyer.jpg') }}" alt="Live-flyer"><br>-->
                    link: <a href="https://www.heavysick.co.jp/club/" target="_blank">https://www.heavysick.co.jp/club/</a><br>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
