{% extends "base.html" %}

{% block title %}Chika Feldie - Live Info{% endblock %}

{% block content %}
    <h2 class="caption">Live Information</h2>
    <div class="container">
        <div class="row">    
                <!-- ここにさらにライブ情報を追加 -->
                <div class="live-info">
                    <h3 class="live-date">2024/9/23(日) : 幡ヶ谷 / heavy sick</h3>
                    <p class="live-details">
                        <p>OPEN / START 18:00</p>
                        <img class="flyer rounded-border" src="{{ url_for('static', filename='img/20240923Flyer.jpg') }}" alt="Band Photo" class="img-fluid"><br>
                        link: <a href="https://www.heavysick.co.jp/club/index.html" target="_blank">https://www.heavysick.co.jp/club/index.html</a><br>
                        
                    </p>
                </div>
        </div>
    </div>
</div>
{% endblock %}
