{% extends "base.html" %}

{% block title %}Chika Feldie - Works{% endblock %}

{% block content %}
    <h2 class="caption">Single</h2>
        <div class="works-box">
            <img src="{{ url_for('static', filename='img/album_cover/ジャケット_恥さらし.png') }}" alt="恥さらし" class="vinyl-img"><br>
            <span class="title">「恥さらし」</span>
            <!-- album-links -->
            <br>
            Spotify<br>
            <a class="music-links" href="https://open.spotify.com/intl-ja/track/6R8eTKsUBp4LmLGp0Etxbu?si=c51f6e13565b4854">https://open.spotify.com/intl-ja/track/6R8eTKsUBp4LmLGp0Etxbu?si=c51f6e13565b4854</a><br>
            Apple Music<br>
            <a class="music-links" href="https://music.apple.com/jp/album/%E6%81%A5%E3%81%95%E3%82%89%E3%81%97/1719229505?i=1719230238">https://music.apple.com/jp/album/%E6%81%A5%E3%81%95%E3%82%89%E3%81%97/1719229505?i=1719230238</a><br>
        </div>
        <div class="works-box">
            <img src="{{ url_for('static', filename='img/album_cover/ジャケット_夏もとどめ.png') }}" alt="夏もとどめ" class="vinyl-img"><br>
            <span class="title">「夏もとどめ」</span>
            <!-- album-links -->
            <br>
            Spotify<br>
            <a class="music-links" href="https://open.spotify.com/intl-ja/track/35XEa4iG0XiY1jtGxQk05l?si=a574cbb95c704768">https://open.spotify.com/intl-ja/track/35XEa4iG0XiY1jtGxQk05l?si=a574cbb95c704768</a><br>
            Apple Music<br>
            <a class="music-links" href="https://music.apple.com/jp/album/%E5%A4%8F%E3%82%82%E3%81%A8%E3%81%A9%E3%82%81/1718749584?i=1718749588">https://music.apple.com/jp/album/%E5%A4%8F%E3%82%82%E3%81%A8%E3%81%A9%E3%82%81/1718749584?i=1718749588</a><br>
        </div>
<!-- 追加のシングル情報 -->

{% endblock %}