{% extends "base.html" %}

{% block title %}Chika Feldie - Works{% endblock %}

{% block content %}
    <h2 class="caption">Single</h2>
        <div class="works-box">
            <img src="{{ url_for('static', filename='img/album_cover/ジャケット_恥さらし.png') }}" alt="恥さらし" class="vinyl-img"><br>
            <span class="title">「恥さらし」</span>
        </div>
        <div class="works-box">
            <img src="{{ url_for('static', filename='img/album_cover/ジャケット_夏もとどめ.png') }}" alt="夏もとどめ" class="vinyl-img"><br>
            <span class="title">「夏もとどめ」</span>
        </div>
<!-- 追加のシングル情報 -->

{% endblock %}