{% extends "base.html" %}

{% block title %}Chika Feldie - Works{% endblock %}

{% block content %}
    <h2 class="caption">New Release!</h2>
    <div class="works-box">
        <img src="{{ url_for('static', filename='img/album_cover/ChikaFeldie.PNG') }}" alt="Chika Feldie" class="vinyl-img"><br>
        <span class="title">「Chika Feldie」</span>
        <!-- album-links -->
        <br>
        Spotify<br>
        <a class="music-links" href="https://open.spotify.com/intl-ja/album/0KSAw9ZfczQtfMJgPAxu6E?si=8qUV3ojXSVCu4eYbdOlyyw">https://open.spotify.com/intl-ja/album/0KSAw9ZfczQtfMJgPAxu6E?si=8qUV3ojXSVCu4eYbdOlyyw</a><br>
        Apple Music<br>
        <a class="music-links" href="https://music.apple.com/jp/album/chika-feldie-ep/1794115931">https://music.apple.com/jp/album/chika-feldie-ep/1794115931</a><br>
    </div>
    <h2 class="caption">Single</h2>
    <div class="works-box">
        <img src="{{ url_for('static', filename='img/album_cover/american_dreamin.png') }}" alt="american-dreamin" class="vinyl-img"><br>
        <span class="title">「American Dreamin'」</span>
        <!-- album-links -->
        <br>
        Spotify<br>
        <a class="music-links" href="https://open.spotify.com/intl-ja/track/17zYKjcbiRkYPH7PkQ3WXK?si=10e4f56cfc4343d0">https://open.spotify.com/intl-ja/track/17zYKjcbiRkYPH7PkQ3WXK?si=10e4f56cfc4343d0</a><br>
        Apple Music<br>
        <a class="music-links" href="https://music.apple.com/jp/album/american-dreamin/1790026029?i=1790026030">https://music.apple.com/jp/album/american-dreamin/1790026029?i=1790026030</a><br>
    </div>
    <div class="works-box">
        <img src="{{ url_for('static', filename='img/album_cover/chanemery.png') }}" alt="シャンメリー" class="vinyl-img"><br>
        <span class="title">「シャンメリー」</span>
        <!-- album-links -->
        <br>
        Spotify<br>
        <a class="music-links" href="https://open.spotify.com/intl-ja/track/5lQwxxfrMZjNtjNPyEkGhg?si=17ad079f4c2f4ab4">https://open.spotify.com/intl-ja/track/5lQwxxfrMZjNtjNPyEkGhg?si=17ad079f4c2f4ab4</a><br>
        Apple Music<br>
        <a class="music-links" href="https://music.apple.com/jp/album/%E3%82%B7%E3%83%A3%E3%83%B3%E3%83%A1%E3%83%AA%E3%83%BC/1783732413?i=1783732550">https://music.apple.com/jp/album/%E3%82%B7%E3%83%A3%E3%83%B3%E3%83%A1%E3%83%AA%E3%83%BC/1783732413?i=1783732550</a><br>
    </div>
    <div class="works-box">
        <img src="{{ url_for('static', filename='img/album_cover/moso.PNG') }}" alt="もそ" class="vinyl-img"><br>
        <span class="title">「もそ」</span>
        <!-- album-links -->
        <br>
        Spotify<br>
        <a class="music-links" href="https://open.spotify.com/intl-ja/track/1zWCV8xawzvxoDJUQMm00a?si=9a01f953cb2041b7">https://open.spotify.com/intl-ja/track/1zWCV8xawzvxoDJUQMm00a?si=9a01f953cb2041b7</a><br>
        Apple Music<br>
        <a class="music-links" href="https://music.apple.com/jp/album/%E3%82%82%E3%81%9D/1781514582?i=1781514584&l=en-US">https://music.apple.com/jp/album/%E3%82%82%E3%81%9D/1781514582?i=1781514584&l=en-US</a><br>
    </div>
        <div class="works-box">
            <img src="{{ url_for('static', filename='img/album_cover/hajisarashi.png') }}" alt="恥さらし" class="vinyl-img"><br>
            <span class="title">「恥さらし」</span>
            <!-- album-links -->
            <br>
            Spotify<br>
            <a class="music-links" href="https://open.spotify.com/intl-ja/track/6R8eTKsUBp4LmLGp0Etxbu?si=c51f6e13565b4854">https://open.spotify.com/intl-ja/track/6R8eTKsUBp4LmLGp0Etxbu?si=c51f6e13565b4854</a><br>
            Apple Music<br>
            <a class="music-links" href="https://music.apple.com/jp/album/%E6%81%A5%E3%81%95%E3%82%89%E3%81%97/1719229505?i=1719230238">https://music.apple.com/jp/album/%E6%81%A5%E3%81%95%E3%82%89%E3%81%97/1719229505?i=1719230238</a><br>
        </div>
        <div class="works-box">
            <img src="{{ url_for('static', filename='img/album_cover/natsumotodome.png') }}" alt="夏もとどめ" class="vinyl-img"><br>
            <span class="title">「夏もとどめ」</span>
            <!-- album-links -->
            <br>
            Spotify<br>
            <a class="music-links" href="https://open.spotify.com/intl-ja/track/35XEa4iG0XiY1jtGxQk05l?si=a574cbb95c704768">https://open.spotify.com/intl-ja/track/35XEa4iG0XiY1jtGxQk05l?si=a574cbb95c704768</a><br>
            Apple Music<br>
            <a class="music-links" href="https://music.apple.com/jp/album/%E5%A4%8F%E3%82%82%E3%81%A8%E3%81%A9%E3%82%81/1718749584?i=1718749588">https://music.apple.com/jp/album/%E5%A4%8F%E3%82%82%E3%81%A8%E3%81%A9%E3%82%81/1718749584?i=1718749588</a><br>
        </div>
<!-- 追加のシングル情報 -->

{% endblock %}