{% extends "base.html" %}

{% block title %}Chika Feldie - Weblog - column8{% endblock %}

{% block content %}
<!-- title -->
<h3>気まぐれコラム #8</h3>
<!-- column-content -->
<div class="column-content">
    NBAのマヌ・ジノビリ選手は禿げたアルゼンチンのおっさんです。
    バスケ部だった頃、繰り返し見ていたプレー集でなぜかこの曲が使われていて、当時洋楽のヨの字も知らなかった僕にとって、バスケを練習する時に必ず聴く曲になりました。
    今この曲が流れると、いつも夢中でバスケットボールを追いかけていた体育館の音も一緒に聞こえてきます。例え僕の頭が禿げてもこの音は鳴り響くでしょう。
    <p class="writer-name">
        by 今井凌平(Ba.cho)
    </p>
</div>
<div class="album-intro">
    <!-- album-image -->
    <img class="column-album rounded-border" src="{{ url_for('static', filename='img/column_albums/column8.jpg') }}" alt="column-album"><br>
    <!-- Song / Artist -->
    Virtual Insanity / Jamiroquai<br>
    <br>
    Spotify<br>
    <!-- album-links -->
    <a class="music-links" href="https://open.spotify.com/intl-ja/track/2Bxt2qamL6iu0XN0Td484J?si=d7b5b2e1655943de">https://open.spotify.com/intl-ja/track/2Bxt2qamL6iu0XN0Td484J?si=d7b5b2e1655943de</a><br>
    Apple Music<br>
    <a class="music-links" href="https://music.apple.com/jp/album/virtual-insanity/1479062290?i=1479062292">https://music.apple.com/jp/album/virtual-insanity/1479062290?i=1479062292</a><br>
</div>
{% endblock %}