{% extends "base.html" %}

{% block title %}Chika Feldie - Weblog - column1{% endblock %}

{% block content %}
<h3>気まぐれコラム # 1</h3>

<div class="column-content">
    この前Otis Reddingのアルバム『Otis Blue』を聴いてたら、『Respect』のベースラインが The Beatlesの『Drive My Car』のベースラインとかなり似てることに気づいた。調べてみると『Drive My Car』のレコーディング時期に George Harrisonが『Respect』を聴いてたらしい。
    ビートルズの様々なアーティストへの「リスペクト」を感じる。 
    <p class="writer-name">
        by 小森晩成(Sax.vo)
    </p>
</div>
<div class="album-intro">
    <img class="column-album rounded-border" src="{{ url_for('static', filename='img/column_albums/column1-1.jpg') }}" alt="column-album"><br>
    Respect / Otis Redding<br>
    <br>
    Spotify<br>
    <a class="music-links" href="https://open.spotify.com/intl-ja/track/3XFt75z0kufdYd8AaqCRQR?si=216a532c40034223">https://open.spotify.com/intl-ja/track/3XFt75z0kufdYd8AaqCRQR?si=216a532c40034223</a><br>
    Apple Music<br>
    <a class="music-links" href="https://music.apple.com/jp/album/respect/922351495?i=922351505">https://music.apple.com/jp/album/respect/922351495?i=922351505</a><br>
    <img class="column-album rounded-border" src="{{ url_for('static', filename='img/column_albums/column1-2.jpg') }}" alt="column-album"><br>
    Drive My Car / Beatles<br>
    <br>
    Spotify<br>
    <a class="music-links" href="https://open.spotify.com/intl-ja/track/06ypiqmILMdVeaiErMFA91?si=6100bac9cafb4770">https://open.spotify.com/intl-ja/track/06ypiqmILMdVeaiErMFA91?si=6100bac9cafb4770</a><br>
    Apple Music<br>
    <a class="music-links" href="https://music.apple.com/jp/album/%E3%83%89%E3%83%A9%E3%82%A4%E3%83%B4-%E3%83%9E%E3%82%A4-%E3%82%AB%E3%83%BC-2009-remaster/1441164359?i=1441164364">https://music.apple.com/jp/album/%E3%83%89%E3%83%A9%E3%82%A4%E3%83%B4-%E3%83%9E%E3%82%A4-%E3%82%AB%E3%83%BC-2009-remaster/1441164359?i=1441164364</a>
</div>
{% endblock %}