{% extends "base.html" %}

{% block title %}Chika Feldie - Weblog - column2{% endblock %}

{% block content %}
<h3>気まぐれコラム#2</h3>
十七歳の地図/尾崎豊

先日、ある先輩と尾崎について楽しくお話をしたので、コラムでも尾崎のことを書きたくなりました。
渋谷にクロスタワーというビルがあります。青山通りをまたぐ歩道橋を渡ると玄関ホールの方に繋がっていて、渡ったところには尾崎の記念碑があります。
というのも、青山学院高等部に通っていた彼は、通学の時にこの歩道橋を渡っていたからです。「十七歳の地図」では、歩道橋とそこから眺める夕陽のことも歌われています。
既に尾崎に夢中だった高３の秋、僕は大学受験に利用するため、英検を受けたのですが、会場がこのクロスタワービルでした。しかも
その日は奇しくも尾崎の誕生日だったのです。どちらも偶然です。尾崎に夢中すぎて自分のことを尾崎豊だと思い込んでいた池田青年はこれも何かの運命であると、思い込みを更に加速させました。英検には落ちました。 by 池田銀(Gt.Vo)
{% endblock %}